@import url("https://fonts.googleapis.com/css2?family=Playball&display=swap");

@tailwind base;

a {
  @apply text-blue-700;
}

a:hover {
  @apply border-b-2 border-blue-700;
}

@tailwind components;

@tailwind utilities;

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

.noScrollBar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.noScrollBar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.linkified {
  @apply text-navyBlue hover:border-0;
}

.showMoreText {
  @apply text-gray-300 hover:border-0;
}

.btnText {
  @apply cursor-pointer btn btn-sm normal-case btn-ghost hover:bg-transparent p-0 m-0
}